@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap");

:root {
  /* Dark mode */
  --DarkBlue: #2b3945;
  --VeryDarkBlue: #202c37;
  --VeryDarkBlue: #111517;

  /* White mode */
  --DarkGray: #858585;
  --VeryLightGray: #fafafa;
  --White: #fff;

  --BoxShadow: 0px 0px 15px #9f9f9f6a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: var(--VeryLightGray);
}

.wrapper {
  margin: auto;
  max-width: 1200px;
  padding: 15px 20px;
}

/* Header container */
h1 {
  font-size: 1.5rem;
}

header {
  background-color: #fff;
  box-shadow: var(--BoxShadow);
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-theme {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.toggle-theme img {
  max-height: 20px;
}

.toggle-theme span {
  font-weight: 700;
}

/* Main container */

main .wrapper {
  margin-top: 30px;
}

/* Filter container */

.filter-container {
  display: flex;
  justify-content: space-between;
}

.search-box {
  display: flex;
  background-color: var(--White);
  width: 400px;
  box-shadow: var(--BoxShadow);
  border-radius: 5px;
}

button,
input[type="text"] {
  border: none;
  background: none;
  outline: none;
  padding: 15px 20px;
}

.search-box input[type="text"] {
  width: 100%;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
}

button img {
  width: 80%;
}

.filter-by-region {
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: var(--BoxShadow);
  height: 100%;
  padding: 0 15px;
  border-radius: 5px;
  background-color: var(--White);
}

/* Country container */

.countries-container {
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto auto auto;
  margin-top: 40px;
}

.country-container {
  display: grid;
  max-width: 250px;
  border-radius: 5px;
  cursor: pointer;
}

.country-container img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.country-desc {
  padding: 0 15px 40px;
  box-shadow: 0px 15px 20px #cbcbcb7d;
}
