@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap");

:root {
  /* Dark mode */
  --DarkBlue: #2b3945;
  --VeryDarkBlue: #202c37;

  /* White mode */
  --DarkGray: #858585;
  --VeryLightGray: #fafafa;
  --White: #fff;

  --BoxShadow: 0px 0px 15px #3b3b3b6a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: var(--VeryLightGray);
}

body.dark-mode {
  background-color: var(--VeryDarkBlue);
  color: #fff;
}

.wrapper {
  margin: auto;
  max-width: 1200px;
  padding: 15px 20px;
}

/* Header container */
h1 {
  font-size: 1.5rem;
}

header {
  background-color: var(--White);
  box-shadow: var(--BoxShadow);
}

body.dark-mode header {
  background-color: var(--DarkBlue);
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-theme {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  width: 110px;
}

.toggle-theme img {
  max-height: 20px;
}

.toggle-theme span {
  font-weight: 700;
}

/* Main container */

main .wrapper {
  margin-top: 30px;
}

/* Filter container */

.filter-container {
  display: flex;
  justify-content: space-between;
}

.search-box {
  display: flex;
  background-color: var(--White);
  width: 400px;
  box-shadow: var(--BoxShadow);
  border-radius: 5px;
}

body.dark-mode .search-box {
  background-color: var(--DarkBlue);
}

button,
input[type="text"] {
  border: none;
  background: none;
  outline: none;
  padding: 15px 20px;
}

.search-box input[type="text"] {
  width: 100%;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
}

button img {
  width: 80%;
}

.filter-by-region {
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: var(--BoxShadow);
  height: 100%;
  padding: 0 15px;
  border-radius: 5px;
  background-color: var(--White);
}

/* Country container */

.countries-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.country-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 250px;
  cursor: pointer;
}

body.dark-mode .country-container {
  background-color: var(--DarkBlue);
}

.country-flag {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

.country-desc {
  padding: 0 25px 25px 25px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 15px 20px #cbcbcb7d;
}

.country-desc h3 {
  margin: 15px 0 10px 0;
}

.country-desc p {
  margin-bottom: 5px;
}

/* Loading effect */

.loading-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.loading-container div {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  transition: all 0.25s;
  animation: loading-anim 1s infinite alternate;
}

.loading-container div:nth-child(1) {
  background-color: #24a324;
}
.loading-container div:nth-child(2) {
  background-color: #f5f532;

  animation-delay: 0.2s;
}
.loading-container div:nth-child(3) {
  background-color: #db3838;
  animation-delay: 0.4s;
}
.loading-container div:nth-child(4) {
  background-color: #44c0f1;
  animation-delay: 0.6s;
}
.loading-container div:nth-child(5) {
  background-color: #601396;
  animation-delay: 0.8s;
}

@keyframes loading-anim {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(15px);
  }
}
