.countries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  gap: 40px;
}

.country-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 250px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 20px #0a0a0a40;
}

body.dark-mode .country-container {
  background-color: var(--DarkBlue);
}

.country-flag {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

.country-desc {
  padding: 0 25px 25px 25px;
}

.country-desc h3 {
  margin: 15px 0 10px 0;
}

.country-desc p {
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .countries-container {
    justify-content: center;
  }
}
