.countries-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: 40px;
  gap: 40px;
}

.country-container {
  display: grid;
  grid-template-rows: 50% 50%;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: var(--BoxShadow);
  transition: 0.35s ease;
}

.country-container:hover {
  transform: translateY(-10px);
}

body.dark-mode .country-container {
  background-color: var(--DarkBlue);
}

.country-container img {
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.country-desc {
  padding: 0 25px 25px 25px;
}

.country-desc h3 {
  margin: 15px 0 10px 0;
}

.country-desc p {
  margin-bottom: 5px;
  max-width: 250px;
  overflow-wrap: break-word;
}
