.filter-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-box {
  display: flex;
  background-color: var(--White);
  width: 400px;
  box-shadow: var(--BoxShadow);
  border-radius: 5px;
}

body.dark-mode .search-box {
  background-color: var(--DarkBlue);
}

button,
input[type="text"] {
  border: none;
  background: none;
  outline: none;
  padding: 15px 20px;
}

.search-box input[type="text"] {
  width: 100%;
  font-size: 1rem;
}

body.dark-mode .search-box input[type="text"] {
  color: #fff;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
}

button img {
  width: 80%;
}

.drop {
  position: relative;
}

.drop .title {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-between;
  font-size: 0.95rem;
  user-select: none;
  padding: 15px;
}

.drop .title img {
  width: 12px;
}

.drop .title,
.drop .options {
  background-color: var(--White);
  cursor: pointer;
  box-shadow: var(--BoxShadow);
  border-radius: 5px;
}

body.dark-mode .drop .title,
body.dark-mode .drop .options {
  background-color: var(--DarkBlue);
}

.drop .options {
  position: absolute;
  width: 100%;
  padding: 5px 15px;
}

.drop .options.hidden {
  display: none;
}

.drop .options div {
  margin: 8px 0;
  font-size: 0.85rem;
}

.drop .options div:hover {
  font-weight: 700;
}

@media (max-width: 680px) {
  .filter-container {
    gap: 35px;
  }

  .search-box {
    width: 100%;
  }
}
