.loading-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.loading-container div {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  transition: all 0.25s;
  animation: loading-anim 1s infinite alternate;
}

.loading-container div:nth-child(1) {
  background-color: #24a324;
}
.loading-container div:nth-child(2) {
  background-color: #f5f532;

  animation-delay: 0.2s;
}
.loading-container div:nth-child(3) {
  background-color: #db3838;
  animation-delay: 0.4s;
}
.loading-container div:nth-child(4) {
  background-color: #44c0f1;
  animation-delay: 0.6s;
}
.loading-container div:nth-child(5) {
  background-color: #601396;
  animation-delay: 0.8s;
}

@keyframes loading-anim {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(15px);
  }
}
