@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap");

:root {
  /* Dark mode */
  --DarkBlue: #2b3945;
  --VeryDarkBlue: #202c37;

  /* White mode */
  --DarkGray: #858585;
  --White: #fff;
  --BoxShadow: 0 0 5px #1c1c1c39;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: var(--VeryLightGray);
}

body.dark-mode {
  background-color: var(--VeryDarkBlue);
  color: #fff;
}

.wrapper {
  margin: auto;
  max-width: 1200px;
  padding: 15px 20px;
}

main.wrapper,
.country-modal.wrapper {
  margin-top: 30px;
}

.hidden,
.country-container.hidden {
  display: none;
}

/* Loading */

.loading-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.loading-container div {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  transition: all 0.25s;
  animation: loading-anim 1s infinite alternate;
}
.loading-container div:nth-child(1) {
  background-color: #24a324;
}
.loading-container div:nth-child(2) {
  background-color: #f5f532;
  animation-delay: 0.2s;
}
.loading-container div:nth-child(3) {
  background-color: #db3838;
  animation-delay: 0.4s;
}
.loading-container div:nth-child(4) {
  background-color: #44c0f1;
  animation-delay: 0.6s;
}
.loading-container div:nth-child(5) {
  background-color: #601396;
  animation-delay: 0.8s;
}
@keyframes loading-anim {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(15px);
  }
}
